In [1]:
import requests as req
import json
import pandas as pd

In [2]:
# A. Get our base URL for the Open Weather API
base_url = "http://api.openweathermap.org/data/2.5/weather"

# B. Get our API Key 
key = "c703c966f9be8a0c4869b86832a0898f"

# C. Get our query (search filter)
query_city = "San Francisco"
query_units = "metric"

# D. Combine everything into our final Query URL
query_url = base_url + "?apikey=" + key + "&q=" + query_city + "&units=" + query_units

# Display our final query url
query_url

'http://api.openweathermap.org/data/2.5/weather?apikey=c703c966f9be8a0c4869b86832a0898f&q=San Francisco&units=metric'

In [3]:
response = req.get(query_url)
response

In [4]:
response = response.json()
response

{'coord': {'lon': -122.42, 'lat': 37.77},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 16.22,
  'feels_like': 11.36,
  'temp_min': 14.44,
  'temp_max': 18,
  'pressure': 1016,
  'humidity': 63},
 'visibility': 16093,
 'wind': {'speed': 6.7, 'deg': 310, 'gust': 8.7},
 'clouds': {'all': 1},
 'dt': 1593927669,
 'sys': {'type': 1,
  'id': 5817,
  'country': 'US',
  'sunrise': 1593867188,
  'sunset': 1593920095},
 'timezone': -25200,
 'id': 5391959,
 'name': 'San Francisco',
 'cod': 200}

In [5]:
# Using json.dumps() allows you to easily read the response output
print(json.dumps(response, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 1
    },
    "cod": 200,
    "coord": {
        "lat": 37.77,
        "lon": -122.42
    },
    "dt": 1593927669,
    "id": 5391959,
    "main": {
        "feels_like": 11.36,
        "humidity": 63,
        "pressure": 1016,
        "temp": 16.22,
        "temp_max": 18,
        "temp_min": 14.44
    },
    "name": "San Francisco",
    "sys": {
        "country": "US",
        "id": 5817,
        "sunrise": 1593867188,
        "sunset": 1593920095,
        "type": 1
    },
    "timezone": -25200,
    "visibility": 16093,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01n",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 310,
        "gust": 8.7,
        "speed": 6.7
    }
}

In [6]:
# Extract the temperature data from our JSON Response
temperature = response['main']['temp']
print ("The temperature is " + str(temperature))

# Extract the weather description from our JSON Response
weather_description = response['weather'][0]['description']
print ("The description for the weather is " + weather_description)

# Exxtract the wind description from our JSON Response
wind_description = response['wind']['speed']
print("The speed of the is " +str(wind_description))

The temperature is 16.22
The description for the weather is clear sky
The speed of the is 6.7

In [7]:
# A. Get our base URL for the Open Weather API
base_url = "http://api.openweathermap.org/data/2.5/weather"

# B. Get our API Key 
key = "c703c966f9be8a0c4869b86832a0898f"

# C. Create an empty list to store our JSON response objects
weather_data = []

# D. Define the multiple cities we would like to make a request for
cities = ["London", "Paris", "Las Vegas", "Stockholm", "Sydney", "Hong Kong"]

# E. Read through each city in our cities list and perform a request call to the API.
# Store each JSON response object into the list
for city in cities:
    query_url = base_url + "?apikey=" + key + "&q=" + city
    weather_data.append(req.get(query_url).json())

In [8]:
# Now our weather_data list contains 6 different JSON objects for each city
# Print the first city (London) 
weather_data

[{'coord': {'lon': -0.13, 'lat': 51.51},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 290.57,
   'feels_like': 285.87,
   'temp_min': 289.82,
   'temp_max': 291.15,
   'pressure': 1008,
   'humidity': 77},
  'visibility': 10000,
  'wind': {'speed': 8.2, 'deg': 240, 'gust': 13.4},
  'clouds': {'all': 90},
  'dt': 1593927733,
  'sys': {'type': 1,
   'id': 1414,
   'country': 'GB',
   'sunrise': 1593921051,
   'sunset': 1593980346},
  'timezone': 3600,
  'id': 2643743,
  'name': 'London',
  'cod': 200},
 {'coord': {'lon': 2.35, 'lat': 48.85},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 291.97,
   'feels_like': 289.85,
   'temp_min': 291.48,
   'temp_max': 292.59,
   'pressure': 1017,
   'humidity': 82},
  'visibility': 10000,
  'wind': {'speed': 5.7, 'deg': 240},
  'clouds': {'all': 75},
  'dt': 1593927592,
  'sys': {'type': 1,
   'id': 6548,
   'country': 'FR',
   'sunrise': 1593921247,
   'sunset': 1593978960},
  'timezone': 7200,
  'id': 2988507,
  'name': 'Paris',
  'cod': 200},
 {'coord': {'lon': -115.14, 'lat': 36.17},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'base': 'stations',
  'main': {'temp': 306.91,
   'feels_like': 300.65,
   'temp_min': 303.15,
   'temp_max': 310.15,
   'pressure': 1011,
   'humidity': 10},
  'visibility': 16093,
  'wind': {'speed': 5.7, 'deg': 260},
  'clouds': {'all': 1},
  'dt': 1593927661,
  'sys': {'type': 1,
   'id': 6171,
   'country': 'US',
   'sunrise': 1593865715,
   'sunset': 1593918073},
  'timezone': -25200,
  'id': 5506956,
  'name': 'Las Vegas',
  'cod': 200},
 {'coord': {'lon': 18.06, 'lat': 59.33},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 288.35,
   'feels_like': 288.17,
   'temp_min': 287.59,
   'temp_max': 289.82,
   'pressure': 1001,
   'humidity': 93},
  'visibility': 10000,
  'wind': {'speed': 2.1, 'deg': 80},
  'clouds': {'all': 91},
  'dt': 1593927443,
  'sys': {'type': 1,
   'id': 1788,
   'country': 'SE',
   'sunrise': 1593913322,
   'sunset': 1593979343},
  'timezone': 7200,
  'id': 2673730,
  'name': 'Stockholm',
  'cod': 200},
 {'coord': {'lon': 151.21, 'lat': -33.87},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 290.11,
   'feels_like': 285.79,
   'temp_min': 289.26,
   'temp_max': 291.48,
   'pressure': 1021,
   'humidity': 51},
  'visibility': 10000,
  'wind': {'speed': 5.1, 'deg': 160},
  'clouds': {'all': 1},
  'dt': 1593927464,
  'sys': {'type': 1,
   'id': 9600,
   'country': 'AU',
   'sunrise': 1593896432,
   'sunset': 1593932314},
  'timezone': 36000,
  'id': 2147714,
  'name': 'Sydney',
  'cod': 200},
 {'coord': {'lon': 114.16, 'lat': 22.29},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 305.13,
   'feels_like': 307.37,
   'temp_min': 304.26,
   'temp_max': 307.04,
   'pressure': 1006,
   'humidity': 62},
  'wind': {'speed': 4.92, 'deg': 230},
  'clouds': {'all': 72},
  'dt': 1593927577,
  'sys': {'type': 3,
   'id': 47808,
   'country': 'HK',
   'sunrise': 1593899050,
   'sunset': 1593947481},
  'timezone': 28800,
  'id': 1819729,
  'name': 'Hong Kong',
  'cod': 200}]

RUNNING MULTIPLE QUERIES AND STORING IN PANDAS DATAFRAME

In [9]:
# Create an empty list for each variable
city_name = []
temperature_data = []
weather_description_data = []

# Extract the city name, temperature, and weather description of each City
for data in weather_data:
    city_name.append(data['name'])
    temperature_data.append(data['main']['temp'])
    weather_description_data.append(data['weather'][0]['description'])

# Print out the list to make sure the queries were extracted 
print ("The City Name List: " + str(city_name))
print ("The Temperature List: " + str(temperature_data))
print ("The Weather Description List: " + str(weather_description_data))

The City Name List: ['London', 'Paris', 'Las Vegas', 'Stockholm', 'Sydney', 'Hong Kong']
The Temperature List: [290.57, 291.97, 306.91, 288.35, 290.11, 305.13]
The Weather Description List: ['overcast clouds', 'broken clouds', 'clear sky', 'overcast clouds', 'clear sky', 'broken clouds']

LIST COMPREHENSION

In [10]:
# Extract the city name, temperature, and weather description of each City
city_name = [data['name'] for data in weather_data]
temperature_data = [data['main']['temp'] for data in weather_data]
weather_description_data = [data['weather'][0]['description'] for data in weather_data]

# Print out the list to make sure the queries were extracted 
print ("The City Name List: " + str(city_name))
print ("The Temperature List: " + str(temperature_data))
print ("The Weather Description List: " + str(weather_description_data))

The City Name List: ['London', 'Paris', 'Las Vegas', 'Stockholm', 'Sydney', 'Hong Kong']
The Temperature List: [290.57, 291.97, 306.91, 288.35, 290.11, 305.13]
The Weather Description List: ['overcast clouds', 'broken clouds', 'clear sky', 'overcast clouds', 'clear sky', 'broken clouds']

Creating a Dictionary

In [11]:
# Create a dictionary containing our newly extracted information
weather_data = {"City": city_name, 
                "Temperature": temperature_data,
                "Weather Description": weather_description_data}

In [12]:
# Convert our dictionary into a Pandas Data Frame
weather_data = pd.DataFrame(weather_data).reset_index()
weather_data

   index       City  Temperature Weather Description
0      0     London       290.57     overcast clouds
1      1      Paris       291.97       broken clouds
2      2  Las Vegas       306.91           clear sky
3      3  Stockholm       288.35     overcast clouds
4      4     Sydney       290.11           clear sky
5      5  Hong Kong       305.13       broken clouds